{% extends "home.html" %}
{% block content %}
<div id="svgcontainer">
  <script>
    var svg = d3.select("body").append("svg")
      .attr("width", 960)
      .attr("height", 500)

    var data = d3.range(100).map(function (d) {
      return { "x": Math.random(), "y": Math.random() }
    })

    var x = d3.scaleLinear()
      //.domain([0, d3.max(data, function(d) { return d.x; })])
      .range([200, 600]);

    var y = d3.scaleLinear()
      //.domain([0, d3.max(data, function(d) { return d.y; })])
      .range([100, 400]);

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    d3.text('../static/iris.csv', function (error, raw) {
      var dsv = d3.dsvFormat(',')
      var data = dsv.parse(raw);

      data.forEach(function (d) {
        d.sepal_length = +d.sepal_length;
        d.sepal_width = +d.sepal_width;
        d.petal_length = +d.petal_length;
        d.petal_width = +d.petal_width;
      });

      x.domain(d3.extent(data, function (d) { return d.sepal_length; }))
      y.domain(d3.extent(data, function (d) { return d.sepal_width; }))


      svg.selectAll("circle").data(data).enter()
        .append("circle")
        .style("fill", function (d, i) { return color(d.species); })
        .style("stroke", "black")
        .attr("r", 10)
        .attr("cx", function (d) { return x(d.sepal_length); })
        .attr("cy", function (d) { return y(d.sepal_width); })

    })


  </script>
</div>


<div id="svgcontainer">
  <script>
    var svg = d3.select("body").append("svg")
      .attr("width", 960)
      .attr("height", 500)
    
    var data = d3.range(100).map(function (d) {
      return { "x": Math.random(), "y": Math.random() }
    })

    var x = d3.scaleLinear()
      .range([200,600]);
    var x = d3.scaleLinear()
      .range([100,400]);

    var color = d3.scaleOrdinal(d3.schemeCategory20)
  </script>
</div>

{% endblock %}